.navbar {
	width: 100%;
	height: auto;
	background-color: cadetblue;
	display: flex;
	align-items: center;
	justify-content: space-between;
}

 .navbar h1 {
	color: white;
	font-size: 30px;
	margin-left: 20px;
} 

.white_btn {
	border: none;
	outline: none;
	padding: 12px 0;
	background-color: white;
	border-radius: 20px;
	width: 120px;
	font-weight: bold;
	font-size: 14px;
	cursor: pointer;
	margin-right: 20px;
}

.welcome{
	font-size: 40px;
	margin: 20px;
	font-weight:bold;
}

.body{
	margin:20px;
	position:relative;
}
.teacbtn{
	background-color: azure;
	border-width: 2px;
	border-style: solid;
	border-color: aqua;
	border-radius: 12px;
	margin:10px;
	padding:15px
}
ul{
	list-style-type: none;
}
li {
	background-color: #fff;
	box-shadow: var(--box-shadow);
	color: #333;
	display: flex;
	justify-content: space-between;
	position: relative;
	padding: 10px;
	margin: 10px 0;
  }
  form {
	display: flex;
	flex-direction: column;
	align-items: center;
}
input {
	outline: none;
	border: none;
	width: 370px;
	padding: 15px;
	border-radius: 10px;
	background-color: #edf5f3;
	margin: 5px 0;
	font-size: 14px;
}
.green_btn {
	border: none;
	outline: none;
	padding: 12px 0;
	background-color: rgb(160, 253, 97);
	border-radius: 20px;
	width: 180px;
	font-weight: bold;
	font-size: 14px;
	cursor: pointer;
}
.blue_btn {
	border: none;
	outline: none;
	padding: 12px;
	margin-left: 10px;
	background-color: rgb(137, 240, 253);
	border-radius: 20px;
	width: auto;
	font-weight: bold;
	font-size: 14px;
	cursor: pointer;
}
.teacheader{
	font-size: 30px;
	letter-spacing: 0.2rem;
	font-weight: bold;
}
.assign{
	display: flex;
	flex-direction: row;
	justify-content: space-around;
	align-items: center;
}
.page {
    flex-Direction: 'row';
    background-color: '#E4E4E4'
  }
 .section {
    margin: 10;
    padding: 10;
    flex-grow: 1;
  }
  input:checked{
	display: none;
  }