.navbar {
	width: 100%;
	height: auto;
	
	display: flex;
	align-items: center;
	justify-content: center
}

  .logo{
	color: rgb(1, 49, 104);
	font-size: 45px;
	text-align: center;
	font-weight: bolder;
	letter-spacing: 0.2rem;
	padding:10px;
  }

.welcome{
	font-size: 30px;
	margin: 20px;
	font-weight:bold;
	color: #03297a;
}

.body{
	background-color: #f8f9ff;
	margin:40px;
	margin-bottom: 0;
	/*position:relative;*/
	min-height: 100vh;
	padding:40px;
	z-index: 500;
	border-radius: 10px;
}
.teacwelcome{
	font-weight: bold;
    font-size: 26px;
    text-align: center;
	margin-top: 40px;
    margin-bottom: 40px;
    color: "#5c5c5c";
}
.btnpack
	{
		width: 100%;
		display:flex;
		flex-direction:row;
		align-items: center;
		justify-content: center;
	  }

.teacbtn{
	font-weight: bold;
	background-color: rgb(19, 82, 201);;
	border-width: 2px;
	border-style: solid;
	color: #fff;
	border-radius: 12px;
	margin:10px;
	padding:15px;
	border-color:rgb(19, 82, 201);;
}
.teacbtn:focus{
	border-style: solid;
	border-width: 2px;
	border-color: rgb(255, 255, 255);
	color: rgb(19, 82, 201);
	background-color: #fff;
}

.formlabel{
	font-weight: bold;
	font-size: 20px;
	color: rgb(109, 109, 109)
}
.textarea{
	display:flex;
	flex-direction:row;
	align-items: center;
	justify-content:center;
  }
  .addpage{
	margin: 10px;
	background-color:rgb(19,82,201);
	outline:none;
	border: none;
	border-radius: 50px;
	padding: 5;
	color: #fff;
	font-weight: 400,
  }
ul{
	list-style-type: none;
	padding-inline-start: 0
}
li {
	background-color: #fff;
	box-shadow: var(--box-shadow);
	color: #333;
	display: flex;
	justify-content: space-between;
	position: relative;
	padding: 10px;
  }
  form {
	display: flex;
	flex-direction: column;
	
}
.green_btn {
	color: #fff;
	border: none;
	outline: none;
	padding: 12px 0;
	background-color: rgb(0, 163, 95);
	border-radius: 15px;
	width: 180px;
	font-weight: bold;
	font-size: 16px;
	cursor: pointer;
}
.blue_btn {
	color: #fff;
	border: none;
	outline: none;
	padding: 12px;
	margin-left: 10px;
	background-color: rgb(0, 119, 134);
	border-radius: 15px;
	width: auto;
	font-weight: bold;
	font-size: 16px;
	cursor: pointer;
}
.teacheader{
	color:#5c5c5c;
	font-size: 30px;
	letter-spacing: 0.2rem;
	font-weight: bold;
}
.assign{
	display: flex;
	flex-direction: row;
	justify-content: space-around;
	align-items: center;
}
.page {
    flex-Direction: 'row';
    background-color: '#E4E4E4'
  }
 .section {
    margin: 10;
    padding: 10;
    flex-grow: 1;
  }
  input[type='checkbox']:checked{
	visibility:hidden;
  }
