.navbar {
	width: 100%;
	height: auto;
	background-color: rgb(78, 0, 141);
	display: flex;
	align-items: center;
	justify-content: space-between;
}

  .logo{
	color: rgb(255, 255, 255);
	font-size: 40px;
	text-align: center;
	font-weight: bolder;
	letter-spacing: 0.2rem;
	padding:10px
  }

.white_btn {
	border: none;
	outline: none;
	padding: 12px 0;
	background-color: white;
	border-radius: 20px;
	width: 120px;
	font-weight: bold;
	font-size: 14px;
	cursor: pointer;
	margin-right: 20px;
}

.welcome{
	font-size: 40px;
	margin: 20px;
	font-weight:bold;
	color: #fff;
}

.main_container{
	background: linear-gradient(#AE58F5,#797ef6,#e5d0ff);
}

.body{
	margin:20px;
	margin-bottom: 0;
	position:relative;
	min-height: 100vh;
	padding:40px
}
.teacbtn{
	font-weight: bold;
	background-color: rgb(55, 25, 102);
	border-width: 2px;
	border-style: solid;
	color: #fff;
	border-radius: 12px;
	margin:10px;
	padding:15px;
	border-color: rgb(55, 25, 102);
}
.teacbtn:focus{
	border-style: solid;
	border-width: 2px;
	border-color: rgb(255, 255, 255);
	color: rgb(55, 25, 102);
	background-color: #fff;
}
ul{
	list-style-type: none;
	padding-inline-start: 0
}
li {
	background-color: #fff;
	box-shadow: var(--box-shadow);
	color: #333;
	display: flex;
	justify-content: space-between;
	position: relative;
	padding: 10px;
  }
  form {
	display: flex;
	flex-direction: column;
	align-items: center;
}
input {
	outline: none;
	border: none;
	width: 370px;
	padding: 15px;
	border-radius: 10px;
	background-color: #edf5f3;
	margin: 5px 0;
	font-size: 14px;
}
.green_btn {
	color: #fff;
	border: none;
	outline: none;
	padding: 12px 0;
	background-color: rgb(0, 163, 95);
	border-radius: 15px;
	width: 180px;
	font-weight: bold;
	font-size: 16px;
	cursor: pointer;
}
.blue_btn {
	color: #fff;
	border: none;
	outline: none;
	padding: 12px;
	margin-left: 10px;
	background-color: rgb(0, 119, 134);
	border-radius: 15px;
	width: auto;
	font-weight: bold;
	font-size: 16px;
	cursor: pointer;
}
.teacheader{
	color:#fff;
	font-size: 30px;
	letter-spacing: 0.2rem;
	font-weight: bold;
}
.assign{
	display: flex;
	flex-direction: row;
	justify-content: space-around;
	align-items: center;
}
.page {
    flex-Direction: 'row';
    background-color: '#E4E4E4'
  }
 .section {
    margin: 10;
    padding: 10;
    flex-grow: 1;
  }
  input[type='checkbox']:checked{
	display: none;
  }